/* Import Custom Font */
@import url(https://fonts.googleapis.com/css?family=Lato);

/* Page Styles */

body {
	background: #333;
	font-family: 'Lato', sans-serif;
	color:#fff;
	letter-spacing: .25px;
}

.page-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
	margin: 0;
	background-color: #222;
}

.page-title span {
	color: #d14c45;
}

.toggle-container {
	display: block;
	text-align: center;
}

.button {
	text-transform: uppercase;
	background-color: #222;
	display: block;
	padding: 5px;
}


h1, h2 {
	font-weight: 700;
	line-height:2;
}

a,
a:visited {
	color: #d14c45;
}

input[type='checkbox'] + label {
	padding-left:.5em;
}

label,
#filterToggle {
	display:inline-block;
}

#venues {
	padding: 30px;
	overflow:hidden;
	background: #222;
}

#venues .venue-title {
	border-bottom: 2px solid #333;
	margin: 0 30px 20px;
	display: block;
	clear: both;
}


#venues ul {
	clear:both;
	list-style: none;
	padding: 0 30px;
	margin: 0;
}

#venues li {
	float:left;
	width:25%;
	line-height: 1.5;
	vertical-align:middle;
}

#filterToggle {
	border-radius: 0 0 3px 3px;
	cursor: pointer;
	margin-left: .5em;
	margin-top:-1px;
	padding:.5em;
}

#filterToggle:before {
	content: "+";
	display: inline-block;
	margin: 0 5px 0 0;
}

#filterToggle.open:before {
	content: "-";
}

#wheel {
	margin: 50px auto;
	width: 600px;

}
